.App {
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  margin: 10px 0;
  font-size: 18px;
} 
